@font-face
  font-family: "Misans"
  src: local("Misans R"), url("../lib/mi-sans/MiSans-Regular.ttf") format("truetype")

@font-face
  font-family: "Fira Code"
  src: local("Fira Code R"), url("../lib/fira-code/FiraCode-Regular.ttf") format("truetype")
